.display-team-input {
      display: flex;
      flex: 1;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: center;
      font-size: 14px;   
}

.team-players {
      display: flex;
      flex: 0.5;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

.team-player {
      display: flex;
      width: 90%;
      align-items: center;
      justify-content: center;
      height: 30px;
      background-color: #e6e6e6;
      font-weight: bold;
      font-size: 14px;
}